@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/animations.css */
@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, 10px);
  }
}

.absolute {
  position: absolute;
}

.bg-white {
  background-color: white;
}

.rounded-full {
  border-radius: 9999px;
}
